.Login {
    align-content: center;
    text-align: center;
    height: 640px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

.imgTag {
    margin-bottom: 10px;
}

.inputDiv{
    width: max-content;
}

.form {
    backdrop-filter: opacity(0.5);
    box-shadow: -1px -1px 40px 10px rgba(0, 0, 0, 0.507);
    background-color: transparent;
    display: inline-block;
    height: max-content;
    padding: 20px;
    width: max-content;
    border-radius: 2px;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.507);
    outline: white;
    text-align: center;
    padding: 5px;
    font-size: medium;
    border: none;
    height: 30px;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 10px;
}

.error {
    width: max-content;
    margin-bottom: 10px;
    padding: 1px;
    z-index: -1;
    background-color: transparent;
    letter-spacing: 0.13em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(190, 6, 6);
    font-size: x-small;
}

hr {
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: 0px;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
    border-color: rgba(152, 160, 180, 10);
}

.emailDiv,
.passDiv {
    font-weight: 100;
    color: white;
    background-color: transparent;
    text-shadow: 0px 0px 10px black;
    height: 30px;
    letter-spacing: 0.2em;
    align-items: center;
}

.button-div{
    align-items: center;
}

.btn-span {
    margin: 5px;
    width: 30px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    cursor: pointer;
    width: 120px;
    background: rgba(0, 0, 0, 0.507);
    color: white;
    height: 30px;
    margin-top: 10px;
    border: thin ;
    border-radius: 2px;
}

.btn-span :hover{
    background-color: rgba(0, 81, 128, 0.438);
}

.btn-span :active{
    background-color: transparent;
}


@media (prefers-reduced-motion: no-preference) {
    .imgTag {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media only screen and (min-width: 200px) {

    /* For tablets: */
    .col-xs-1 {
        width: 8.33%;

    }

    .col-xs-2 {
        width: 16.66%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-5 {
        width: 41.66%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;
    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }
}


@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}